# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
address = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv(address,sep = '\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. What is the name of the max valued product?

In [ ]:
#Ejemplo de como usar el metodo str
# quiero quedarme solamente con los números
s = "$123456j41515" 
s =

In [ ]:
# Lo hago con el metodo str. Coge una una cadena de str y lo convierte al tipo que le indico con astype
chipo.item_price = chipo.item_price. str[1:].astype(float)

In [4]:
# elimino el signo del dolar de la columna item_price y lo convierto a float
chipo['item_price'] = chipo['item_price'].apply(lambda palabra: float(palabra[1:]))
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [16]:
# Obtengo el maximo valor de esa columna
chipo['item_price'].max()

44.25

In [20]:
# Otra forma hubiera sido ordenar los valores de esa columna en sentido descendente
chipo.item_price.sort_values(ascending=False)

3598    44.25
3480    35.25
1254    35.00
3602    35.00
3601    33.75
        ...
2562     1.09
107      1.09
3926     1.09
821      1.09
1140     1.09
Name: item_price, Length: 4622, dtype: float64

In [25]:
# Como se el index en el que se encuentra con loc obtengo la línea
chipo.loc[3598:3598]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [26]:
# De esta otra manera me puedo ahorrar el ordenar descendentemente y como se el valor del precio máximo localizo la columna de 'item_price es igual a 44.25
chipo.loc[chipo['item_price'] == 44.25]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [57]:
# delete the duplicates in item_name and quantity
q_n = chipo[['quantity', 'item_name']]
q_n_no_duplicates = q_n.drop_duplicates(['quantity','item_name'])
q_n_no_duplicates

      quantity                              item_name
0            1           Chips and Fresh Tomato Salsa
1            1                                   Izze
2            1                       Nantucket Nectar
3            1  Chips and Tomatillo-Green Chili Salsa
4            2                           Chicken Bowl
...        ...                                    ...
3890         2                  Carnitas Crispy Tacos
3973         4                      Canned Soft Drink
4152        10                          Bottled Water
4354         2                       Steak Soft Tacos
4489         4                    Chips and Guacamole

[103 rows x 2 columns]

In [62]:
# select only the products with quantity equals to 1
q_n_no_duplicates.loc[q_n_no_duplicates['quantity'] == 1]

      quantity                              item_name
0            1           Chips and Fresh Tomato Salsa
1            1                                   Izze
2            1                       Nantucket Nectar
3            1  Chips and Tomatillo-Green Chili Salsa
5            1                           Chicken Bowl
6            1                          Side of Chips
7            1                          Steak Burrito
8            1                       Steak Soft Tacos
10           1                    Chips and Guacamole
11           1                   Chicken Crispy Tacos
12           1                     Chicken Soft Tacos
16           1                        Chicken Burrito
21           1                       Barbacoa Burrito
27           1                       Carnitas Burrito
28           1                            Canned Soda
33           1                          Carnitas Bowl
34           1                          Bottled Water
38           1  Chips and Tomatillo Green Chili Salsa
39           1                          Barbacoa Bowl
40           1                                  Chips
44           1                     Chicken Salad Bowl
54           1                             Steak Bowl
56           1                    Barbacoa Soft Tacos
57           1                         Veggie Burrito
62           1                            Veggie Bowl
92           1                     Steak Crispy Tacos
111          1    Chips and Tomatillo Red Chili Salsa
168          1                  Barbacoa Crispy Tacos
186          1                      Veggie Salad Bowl
191          1     Chips and Roasted Chili-Corn Salsa
233          1     Chips and Roasted Chili Corn Salsa
237          1                    Carnitas Soft Tacos
250          1                          Chicken Salad
263          1                      Canned Soft Drink
298          1                      6 Pack Soft Drink
300          1    Chips and Tomatillo-Red Chili Salsa
510          1                                Burrito
520          1                           Crispy Tacos
554          1                  Carnitas Crispy Tacos
606          1                       Steak Salad Bowl
664          1                            Steak Salad
673          1                                   Bowl
674          1      Chips and Mild Fresh Tomato Salsa
738          1                      Veggie Soft Tacos
1132         1                    Carnitas Salad Bowl
1229         1                    Barbacoa Salad Bowl
1414         1                                  Salad
1653         1                    Veggie Crispy Tacos
1694         1                           Veggie Salad
3750         1                         Carnitas Salad

In [46]:
# select only the item_name and item_price columns
z = chipo[['item_name','item_price']]
z

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

In [53]:
# sort the values from the most to less expensive
z.sort_values(by= 'item_price',ascending=False)

                         item_name  item_price
3598  Chips and Fresh Tomato Salsa       44.25
3480                 Carnitas Bowl       35.25
1254               Chicken Burrito       35.00
3602               Chicken Burrito       35.00
3601                Veggie Burrito       33.75
...                            ...         ...
3936                   Canned Soda        1.09
2922                 Bottled Water        1.09
1396                   Canned Soda        1.09
2562                   Canned Soda        1.09
1457                   Canned Soda        1.09

[4622 rows x 2 columns]

In [24]:
# delete the duplicates in item_name and quantity


# select only the products with quantity equals to 1


# select only the item_name and item_price columns


# sort the values from the most to less expensive

                  item_name  item_price
606        Steak Salad Bowl       11.89
1229    Barbacoa Salad Bowl       11.89
1132    Carnitas Salad Bowl       11.89
7             Steak Burrito       11.75
168   Barbacoa Crispy Tacos       11.75
39            Barbacoa Bowl       11.75
738       Veggie Soft Tacos       11.25
186       Veggie Salad Bowl       11.25
62              Veggie Bowl       11.25
57           Veggie Burrito       11.25
250           Chicken Salad       10.98
5              Chicken Bowl       10.98
8          Steak Soft Tacos        9.25
554   Carnitas Crispy Tacos        9.25
237     Carnitas Soft Tacos        9.25
56      Barbacoa Soft Tacos        9.25
92       Steak Crispy Tacos        9.25
664             Steak Salad        8.99
54               Steak Bowl        8.99
3750         Carnitas Salad        8.99

### Step 6. Sort by the name of the item

In [66]:
chipo.sort_values(by= 'item_name', ascending=False)
# OR
chipo.sort_values(by= 'item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

In [25]:


# OR

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
3422,1373,1,6 Pack Soft Drink,[Coke],6.49
553,230,1,6 Pack Soft Drink,[Diet Coke],6.49
1916,774,1,6 Pack Soft Drink,[Diet Coke],6.49
1922,776,1,6 Pack Soft Drink,[Coke],6.49
1937,784,1,6 Pack Soft Drink,[Diet Coke],6.49
3836,1537,1,6 Pack Soft Drink,[Coke],6.49
298,129,1,6 Pack Soft Drink,[Sprite],6.49
1976,798,1,6 Pack Soft Drink,[Diet Coke],6.49
1167,481,1,6 Pack Soft Drink,[Coke],6.49
3875,1554,1,6 Pack Soft Drink,[Diet Coke],6.49
1124,465,1,6 Pack Soft Drink,[Coke],6.49
3886,1558,1,6 Pack Soft Drink,[Diet Coke],6.49
2108,849,1,6 Pack Soft Drink,[Coke],6.49
3010,1196,1,6 Pack Soft Drink,[Diet Coke],6.49
4535,1803,1,6 Pack Soft Drink,[Lemonade],6.49
4169,1664,1,6 Pack Soft Drink,[Diet Coke],6.49
4174,1666,1,6 Pack Soft Drink,[Coke],6.49
4527,1800,1,6 Pack Soft Drink,[Diet Coke],6.49
4522,1798,1,6 Pack Soft Drink,[Diet Coke],6.49
3806,1525,1,6 Pack Soft Drink,[Sprite],6.49
2389,949,1,6 Pack Soft Drink,[Coke],6.49
3132,1248,1,6 Pack Soft Drink,[Diet Coke],6.49
3141,1253,1,6 Pack Soft Drink,[Lemonade],6.49
639,264,1,6 Pack Soft Drink,[Diet Coke],6.49
1026,422,1,6 Pack Soft Drink,[Sprite],6.49
...,...,...,...,...,...
2996,1192,1,Veggie Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
3163,1263,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
4084,1635,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
2756,1094,1,Veggie Salad,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.49
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.25
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",8.75
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",8.75
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",11.25
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",11.25
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [11]:
# My solution

chipo[chipo['item_price'] == 44.25]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [26]:
# Agrupo por columna item_name con la operación suma y con reset_index() quito del index la columna item_name
m_veggie = chipo.groupby(['item_name']).sum().reset_index()
m_veggie

                                item_name  order_id  quantity
0                       6 Pack Soft Drink     52322        55
1                           Barbacoa Bowl     53972        66
2                        Barbacoa Burrito     74718        91
3                   Barbacoa Crispy Tacos      5613        12
4                     Barbacoa Salad Bowl      9708        10
5                     Barbacoa Soft Tacos     18725        25
6                           Bottled Water    175944       211
7                                    Bowl       472         4
8                                 Burrito      1550         6
9                             Canned Soda     76396       126
10                      Canned Soft Drink    304753       351
11                          Carnitas Bowl     62742        71
12                       Carnitas Burrito     51652        60
13                  Carnitas Crispy Tacos      5868         8
14                         Carnitas Salad      1500         1
15                    Carnitas Salad Bowl      6693         6
16                    Carnitas Soft Tacos     37673        40
17                           Chicken Bowl    713926       761
18                        Chicken Burrito    497303       591
19                   Chicken Crispy Tacos     47382        50
20                          Chicken Salad     10465         9
21                     Chicken Salad Bowl    117104       123
22                     Chicken Soft Tacos     98395       120
23                                  Chips    208004       230
24           Chips and Fresh Tomato Salsa    100419       130
25                    Chips and Guacamole    449959       506
26      Chips and Mild Fresh Tomato Salsa       279         1
27     Chips and Roasted Chili Corn Salsa     14999        23
28     Chips and Roasted Chili-Corn Salsa     17462        18
29  Chips and Tomatillo Green Chili Salsa     41170        45
30    Chips and Tomatillo Red Chili Salsa     45556        50
31  Chips and Tomatillo-Green Chili Salsa     21826        33
32    Chips and Tomatillo-Red Chili Salsa     18344        25
33                           Crispy Tacos       434         2
34                                   Izze     10587        20
35                       Nantucket Nectar     21814        29
36                                  Salad      1150         2
37                          Side of Chips     84769       110
38                             Steak Bowl    193752       221
39                          Steak Burrito    328437       386
40                     Steak Crispy Tacos     35818        36
41                            Steak Salad      2362         4
42                       Steak Salad Bowl     29590        31
43                       Steak Soft Tacos     50177        56
44                            Veggie Bowl     72270        87
45                         Veggie Burrito     80962        97
46                    Veggie Crispy Tacos       668         1
47                           Veggie Salad      7265         6
48                      Veggie Salad Bowl     17303        18
49                      Veggie Soft Tacos      5520         8

In [24]:
# Lo de arriba pero en dos pasos
max_veggie = chipo.groupby(['item_name']).sum()
max_veggie.reset_index()

                                item_name  order_id  quantity
0                       6 Pack Soft Drink     52322        55
1                           Barbacoa Bowl     53972        66
2                        Barbacoa Burrito     74718        91
3                   Barbacoa Crispy Tacos      5613        12
4                     Barbacoa Salad Bowl      9708        10
5                     Barbacoa Soft Tacos     18725        25
6                           Bottled Water    175944       211
7                                    Bowl       472         4
8                                 Burrito      1550         6
9                             Canned Soda     76396       126
10                      Canned Soft Drink    304753       351
11                          Carnitas Bowl     62742        71
12                       Carnitas Burrito     51652        60
13                  Carnitas Crispy Tacos      5868         8
14                         Carnitas Salad      1500         1
15                    Carnitas Salad Bowl      6693         6
16                    Carnitas Soft Tacos     37673        40
17                           Chicken Bowl    713926       761
18                        Chicken Burrito    497303       591
19                   Chicken Crispy Tacos     47382        50
20                          Chicken Salad     10465         9
21                     Chicken Salad Bowl    117104       123
22                     Chicken Soft Tacos     98395       120
23                                  Chips    208004       230
24           Chips and Fresh Tomato Salsa    100419       130
25                    Chips and Guacamole    449959       506
26      Chips and Mild Fresh Tomato Salsa       279         1
27     Chips and Roasted Chili Corn Salsa     14999        23
28     Chips and Roasted Chili-Corn Salsa     17462        18
29  Chips and Tomatillo Green Chili Salsa     41170        45
30    Chips and Tomatillo Red Chili Salsa     45556        50
31  Chips and Tomatillo-Green Chili Salsa     21826        33
32    Chips and Tomatillo-Red Chili Salsa     18344        25
33                           Crispy Tacos       434         2
34                                   Izze     10587        20
35                       Nantucket Nectar     21814        29
36                                  Salad      1150         2
37                          Side of Chips     84769       110
38                             Steak Bowl    193752       221
39                          Steak Burrito    328437       386
40                     Steak Crispy Tacos     35818        36
41                            Steak Salad      2362         4
42                       Steak Salad Bowl     29590        31
43                       Steak Soft Tacos     50177        56
44                            Veggie Bowl     72270        87
45                         Veggie Burrito     80962        97
46                    Veggie Crispy Tacos       668         1
47                           Veggie Salad      7265         6
48                      Veggie Salad Bowl     17303        18
49                      Veggie Soft Tacos      5520         8

In [27]:
m_veggie[m_veggie['item_name'] == 'Veggie Salad Bowl']

            item_name  order_id  quantity
48  Veggie Salad Bowl     17303        18

### Step 9. How many times did someone order more than one Canned Soda?

In [28]:
# Con esto averiguo donde aparece Canned Soda
chipo[chipo.isin(['Canned Soda'])].stack()

18    item_name    Canned Soda
28    item_name    Canned Soda
51    item_name    Canned Soda
53    item_name    Canned Soda
107   item_name    Canned Soda
                      ...
3897  item_name    Canned Soda
3926  item_name    Canned Soda
3936  item_name    Canned Soda
4008  item_name    Canned Soda
4051  item_name    Canned Soda
Length: 104, dtype: object

In [33]:
chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] >1)].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64

In [ ]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
#chipo_drink_steak_bowl
len(chipo_drink_steak_bowl)

20