Es un ejemplo de como pasar unas imagenes (en array) que están en un csv (al final de una ruta) a una columna de un daframe

In [2]:
import cv2
import pandas as pd

In [ ]:
# Paso el csv a un dataframe
train_set = pd.read_csv("train_set.csv")

In [4]:
# Veo donde estan las fotos, al final de una ruta de carpetas.
train_set.head()

   label  id_img             path
0  happy   22373  happy/22373.jpg
1  happy   21433  happy/21433.jpg
2  happy   12418  happy/12418.jpg
3  happy   21278  happy/21278.jpg
4  happy    8081  happy/08081.jpg

In [6]:
#Con esta función lambda y cv2.cvtColor convierto  estas 
train_set['array'] = train_set['path'].apply(lambda x: cv2.cvtColor(cv2.imread("totrain/totrain/"+x), cv2.COLOR_BGR2GRAY))

In [7]:
train_set

,label,id_img,path,array
0,happy,22373,happy/22373.jpg,"[[25, 44, 56, 68, 88, 98, 93, 92, 105, 120, 13..."
1,happy,21433,happy/21433.jpg,"[[33, 29, 22, 18, 19, 23, 22, 19, 20, 23, 14, ..."
2,happy,12418,happy/12418.jpg,"[[35, 43, 66, 84, 71, 41, 36, 53, 97, 56, 100,..."
3,happy,21278,happy/21278.jpg,"[[118, 124, 132, 126, 127, 139, 67, 38, 33, 29..."
4,happy,8081,happy/08081.jpg,"[[201, 209, 193, 107, 106, 107, 98, 114, 144, ..."
...,...,...,...,...
6171,sadness,11346,sadness/11346.jpg,"[[167, 180, 196, 171, 101, 50, 52, 70, 55, 49,..."
6172,sadness,4441,sadness/04441.jpg,"[[163, 154, 128, 116, 121, 106, 90, 99, 115, 1..."
6173,sadness,15236,sadness/15236.jpg,"[[109, 25, 29, 33, 55, 65, 82, 87, 147, 179, 1..."
6174,sadness,27361,sadness/27361.jpg,"[[62, 64, 67, 52, 57, 65, 50, 55, 117, 179, 15..."
6175,sadness,25239,sadness/25239.jpg,"[[163, 167, 123, 78, 50, 30, 26, 14, 7, 12, 50..."

Ahora mi target será la columna label (que tendre que categorizrla) y la variable que va a clasificarel modelo que construiré (la X) será la columna array