### Reto Kata de la website: Codewars

Hay que hacer una kata por d√≠a entre el 3 de Agosto y el 31, debiendo realizar mas del 90% de las Katas


---------

day,url,id_kata,id_name

3/8/2020,https://www.codewars.com/kata/50654ddff44f800200000004,50654ddff44f800200000004,Multiply
4/8/2020,https://www.codewars.com/kata/582cb0224e56e068d800003c,582cb0224e56e068d800003c,Keep Hydrated!
5/8/2020,https://www.codewars.com/kata/57eaeb9578748ff92a000009,57eaeb9578748ff92a000009,Sum Mixed Array
6/8/2020,https://www.codewars.com/kata/54d1c59aba326343c80000e7,54d1c59aba326343c80000e7,Incorrect division method
7/8/2020,https://www.codewars.com/kata/53da3dbb4a5168369a0000fe,53da3dbb4a5168369a0000fe,Even or Odd
8/8/2020,https://www.codewars.com/kata/56bc28ad5bdaeb48760009b0,56bc28ad5bdaeb48760009b0,Remove First and Last Character
9/8/2020,https://www.codewars.com/kata/55a2d7ebe362935a210000b2,55a2d7ebe362935a210000b2,Find the smallest integer in the array

10/8/2020,https://www.codewars.com/kata/5506b230a11c0aeab3000c1f,5506b230a11c0aeab3000c1f,Deodorant Evaporator
11/8/2020,https://www.codewars.com/kata/59377c53e66267c8f6000027,59377c53e66267c8f6000027,Alphabet war
12/8/2020,https://www.codewars.com/kata/5ae7e3f068e6445bc8000046,5ae7e3f068e6445bc8000046,See You Next Happy Year 
13/8/2020,https://www.codewars.com/kata/5e2596a9ad937f002e510435,5e2596a9ad937f002e510435,Pandemia üå°Ô∏è
14/8/2020,https://www.codewars.com/kata/55b95c76e08bd5eef100001e,55b95c76e08bd5eef100001e,Counting in the  Amazon
15/8/2020,https://www.codewars.com/kata/5ab7a736edbcfc8e62000007,5ab7a736edbcfc8e62000007,SQL with Sailor Moon: Thinking about JOINs...

16/8/2020,https://www.codewars.com/kata/5660aa3d5e011dfd6e000063,5660aa3d5e011dfd6e000063,80's Kids #2: Help ALF Find His Spaceship

17/8/2020,https://www.codewars.com/kata/54ff3102c1bad923760001f3,54ff3102c1bad923760001f3,Vowel Count
18/8/2020,https://www.codewars.com/kata/5667e8f4e3f572a8f2000039,5667e8f4e3f572a8f2000039,Mumbling
19/8/2020,https://www.codewars.com/kata/56747fd5cb988479af000028,56747fd5cb988479af000028,Get the Middle Character
20/8/2020,https://www.codewars.com/kata/554b4ac871d6813a03000035,554b4ac871d6813a03000035,Highest and Lowest
21/8/2020,https://www.codewars.com/kata/5abcf0f930488ff1a6000b66,5abcf0f930488ff1a6000b66,SQL with Harry Potter: Sorting Hat Comparators

22/8/2020,https://www.codewars.com/kata/5d4c6809089c6e5031f189ed,5d4c6809089c6e5031f189ed,Computer problem series #2: Torrent download

23/8/2020,https://www.codewars.com/kata/54b724efac3d5402db00065e,54b724efac3d5402db00065e,Decode the Morse code 
24/8/2020,https://www.codewars.com/kata/57b06f90e298a7b53d000a86,57b06f90e298a7b53d000a86,The Supermarket Queue
25/8/2020,https://www.codewars.com/kata/576757b1df89ecf5bd00073b,576757b1df89ecf5bd00073b,Build Tower
26/8/2020,https://www.codewars.com/kata/583203e6eb35d7980400002a,583203e6eb35d7980400002a,Count the smiley faces!
27/8/2020,https://www.codewars.com/kata/598106cb34e205e074000031,598106cb34e205e074000031,The Deaf Rats of Hamelin
28/8/2020,https://www.codewars.com/kata/5503013e34137eeeaa001648,5503013e34137eeeaa001648,Give me a Diamond
29/8/2020,https://www.codewars.com/kata/550f22f4d758534c1100025a,550f22f4d758534c1100025a,Directions Reduction
30/8/2020,https://www.codewars.com/kata/525c65e51bf619685c000059,525c65e51bf619685c000059,"Pete, the baker"


---------

----------
Dia 05/08/2020

In [ ]:
# DIA 5/08/2020
def sum_mix(arr):
    sum = 0  
    for x in arr:
        if type(x) == str:
            x = int(x)
            sum = sum + x
        else:
            sum = sum + x

    return sum
# Ahora compruebo que funcione
texto = '23654'
print(sum_mix(texto))

In [3]:
# Otras soluciones posibles.
def sum_mix(arr):
    return sum(map(int, arr))

texto = '236545'
print(sum_mix(texto))

25

In [4]:
def sum_mix(arr):
    return sum([int(i) for i in arr])
texto = '236545'
print(sum_mix(texto))

25

In [5]:
24//5

4

----------
Dia 06/08/2020

In [8]:
def divide_numbers(x,y):
    return x/y
# Comprobaci√≥n
print(divide_numbers(14,3))

4.666666666666667

----------
Dia 07/08/2020

In [21]:
def even_or_odd(number):
    if int(number)%2 == 0:
        return 'Even'
    else: 
        return 'Odd'

print(even_or_odd(7))

El numero es impar
None

In [24]:
# Otra soluci√≥n.
def even_or_odd2(number):
    return 'Even' if number % 2 == 0 else 'Odd'

----------
Dia 08/08/2020

It's pretty straightforward. Your goal is to create a function that removes the first and last characters of a string. You're given one parameter, the original string. You don't have to worry with strings with less than two characters.

----------
Dia 10/08/2020

In [1]:
def evaporator(content, evap_per_day, threshold):
    i = 0
    curr = content 
    while curr >= content * threshold/100.0:
        curr = curr * (1 - evap_per_day/100.0)
        i += 1
    return i

print(evaporator(100, 7, 4))

45

----------
Dia 11/08/2020

Write a function that accepts fight string consists of only small letters and return who wins the fight. When the left side wins return Left side wins!, when the right side wins return Right side wins!, in other case return Let's fight again!.

The left side letters and their power:
 w - 4; p - 3; b - 2; s - 1;
The right side letters and their power:
 m - 4; q - 3; d - 2;  z - 1

In [ ]:
def alphabet_war1(fight)
    left = {'w':4, 'p':3, 'b':2, 's':1}
    right = {'m':4, 'q':3, 'd':2, 'z':1}
    left_side = 0
    right_side = 0
    for elem in fight:
        if elem in left.keys():
            left_side = left_side + elem.values()
        if elem in right.keys():
            right_side = right_side + elem.values()
    if left_side > right_side:
        print('left side wins!')
    elif left_side < right_side:
        print('Right side wins!')
    else:
        print('Lets fight again')

In [56]:
def alphabet_war(fight):
    left = {'w':4, 'p':3, 'b':2, 's':1}
    right = {'m':4, 'q':3, 'd':2, 'z':1}
    left_side = 0
    right_side = 0
    for elem in fight:
        if elem in left.keys():
            left_side = left_side + left[elem]
        elif elem in right.keys():
            right_side = right_side + right[elem]
   
    return 'left side wins!' if left_side >right_side  else ('right side wins!'  if left_side < right_side  else 'Lets fight again!')

In [ ]:
# Otra solucion
def alphabet_war1(fight):
  left = {'w':4,'p':3,'b':2,'s':1}
  rigth = {'m':4,'q':3,'d':2,'z':1}
  leftp = 0
  rigthp = 0
  for e in fight:
    leftp += left.get(e,0)
    rigthp += rigth.get(e,0)
  if leftp > rigthp:
    return'Left side wins!'
  elif rigthp > leftp:
    return 'Right side wins!'
  else:
    return "Let's fight again!"

In [ ]:
# Otra soluci√≤n
def alphabet_war2(fight):
    d = {'w':4,'p':3,'b':2,'s':1,
         'm':-4,'q':-3,'d':-2,'z':-1}
    r = sum(d[c] for c in fight if c in d)
    
    return {r==0:"Let's fight again!",
            r>0:"Left side wins!",
            r<0:"Right side wins!"
            }[True]

----------
Dia 12/08/2020

In [2]:
def next_happy_year(year):
    year += 1
    while len(set(str(year))) != len(str(year)):
        year += 1
    return year

In [5]:
next_happy_year(1987)

2013

In [ ]:
# Otra forma
def next_happy_year1(year):
    for n in range(year+1, 9999):
        if len(set(str(n))) == 4:
            return n

In [ ]:
# Otra forma
def next_happy_year2(year):
    while True:
        year+=1
        if len(str(year)) == len(set(str(year))):
            return year

In [ ]:
#Otra manera de resolverlo
def next_happy_year3(year):
    return year + 1 if len(set(str(year + 1))) == 4 else next_happy_year(year + 1)

In [6]:
next_happy_year(1987)

2013

----------
Dia 13/08/2020

Pandemia üå°Ô∏è

In [44]:
def infected(s):
    continents = s.split('X')
    infect = 0
    uninfect = 0
    for i, elem in enumerate (continents):
        if '1' in elem:
            infect = infect + len(elem)
        elif '0' in elem:
            uninfect = uninfect + len(elem)
    if  infect + uninfect == 0:
        return 0

    return (100*infect / (infect + uninfect))

In [47]:
# Otra forma
def infected1(s):
    infected = 0
    total = 0 
    for land in s.split('X'):
        if '1' in land:
            infected += len(land)
        total += len(land)
    return infected / total * 100 if total > 0 else 0

In [ ]:
# Otra forma
def infected2(s):
    total = len(s)-s.count('X')
    infected = sum([len(i) for i in s.split('X') if '1' in i])
    return infected/total*100 if total > 0 else infected

------
Dia 14/08/2020

The Arara are an isolated tribe found in the Amazon who count in pairs. For example one to eight is as follows:

1 = anane;
2 = adak;
3 = adak anane;
4 = adak adak:
5 = adak adak anane;
6 = adak adak adak;
7 = adak adak adak anane;
8 = adak adak adak adak;

Take a given number and return the Arara's equivalent.

In [130]:
def count_arara(n):
    a = 'adak '
    b = 'anane'
    if n % 2 == 0:
        if int(n/2) == 1:
            return a.rstrip()
        else: 
            solution= (a + "")*(int(n/2))
            return solution.rstrip()
    else:
        return a*int((n-1)/2) + b

In [144]:
#Otra solucion
def count_arara1(n):
    return str.rstrip(''.join(["adak " * int(n / 2), "anane" * (n % 2)]))

In [41]:
#Otra solucion
def count_arara2(n):
    return ' '.join(['adak'] * int(n / 2) + ['anane'] * (n % 2))

In [42]:
count_arara2(5)

'adak adak anane'

------
Dia 15/08/2020
Es  un ejercico sobre SQL

In [ ]:
CREATE TABLE Sailor_Moon (

id INT NOT NULL AUTO_INCREMENT PRIMARY KEY (id),

sailor_senshi VARCHAR(20) NOT NULL,

real_name VARCHAR(20) NOT NULL,

cat VARCHAR(20) NULL,

school  VARCHAR(20) NULL);

INSERT INTO Sailorsenshi (sailor_senshi, real_name, cat, school)

VALUES ('Sailor Moon','Usagi Tsukino' , 'Importante', 'Cualquiera');
VALUES ('Sailor Mercuty','Ami Muzano' , Null, 'Cual');
VALUES ('Sailor Mars','Rei Hino', 'Invs', 'Oyto');
VALUES ('Sailor Jupiter','Makoto Kino' , Null, 'Rdyr');
VALUES ('Sailor Venus','Minako Aino' , 'Importan', 'Oeste');
VALUES ('Sailorchibu Moon','Chibi Usa' , 'Imtante', 'Este');
VALUES ('Sailor Uranus','Haruka Ten≈ç' , 'Impant', 'Meridional');
VALUES ('Sailor Pluto','Setsuna Mei≈ç' , 'Iornte', 'Anterior');
VALUES ('Sailor Neptpune','Michiru Kai≈ç ' , 'Impon', 'Alto');
VALUES ('Sailor Saturn','Hotaru Tomoe' , 'Inte', Null);

# ESTA ES MI SOLUCI√ìN Y NO FUNCIONA EN CODEWARS

In [ ]:
#Solucion vista en internet
select s.senshi_name as sailor_senshi,
       s.real_name_jpn as real_name,
       c.name as cat,
       sc.school
from sailorsenshi s left join cats c on s.cat_id = c.id
left join schools sc on s.school_id = sc.id


SELECT Results
sailor_senshi	real_name	cat	school
Sailor Moon	Usagi Tsukino	Luna	Juuban Municipal Junior High School
Sailor Mercury	Ami Mizuno	Luna	Juuban Municipal Junior High School
Sailor Mars	Rei Hino	Luna	TA Academy for Girls
Sailor Jupiter	Makoto Kino	Luna	Juuban Municipal Junior High School
Sailor Venus	Minako Aino	Artemis	Juuban Municipal Junior High School
Tuxedo Mask	Mamoru Chiba		Moto Azabu High School
Sailor Uranus	Haruka Tenou		Infinity Academy
Sailor Neptune	Michiru Kaiou		Infinity Academy
Sailor Saturn	Hotaru Tomoe		Infinity Academy
Sailor Pluto	Setsuna Meiou

------
Dia 16/08/2020

In [4]:
const findSpaceship = (map) => {
  
  if(!map || map.indexOf('X') === -1) return 'Spaceship lost forever.';
  
  const mapAsArray = map.split('\n');
  
  for( let i = mapAsArray.length-1, yLocation = 0; i >= 0; i--){
    
    const xLocation = mapAsArray[i].indexOf('X');
    
    if( xLocation !== -1 ) return [xLocation, yLocation];
    yLocation++;
  }

SyntaxError: invalid syntax (<ipython-input-4-8f318daceadb>, line 1)

------
Dia 17/08/2020

Return the number (count) of vowels in the given string.

We will consider a, e, i, o, u as vowels for this Kata (but not y).

The input string will only consist of lower case letters and/or spaces.

In [7]:
def is_A_student(score):
    return score == 'a'

over_75 = len(list(filter(is_A_student, scores)))

print(over_75)

0

In [ ]:
score = 'estamos todos muy murcielago'

In [8]:
def get_count(input_str):
    vowels = 'aeiou'
    num_vowels = len([c for c in input_str if c in vowels])
    return num_vowels

In [14]:
# Otra forma
def getCount(input_str):
    return sum(c in 'aeiou' for c in input_str)

In [ ]:
def getCount1(inputStr):
    list_vowels = ['a', 'e', 'i', 'o', 'u']
    return sum([inputStr.count(vowel) for vowel in list_vowels])

In [16]:
getCount('murcielagoo')

6

------
Dia 18/08/2020

This time no story, no theory. The examples below show you how to write function accum:

Examples:

accum("abcd") -> "A-Bb-Ccc-Dddd"
accum("RqaEzty") -> "R-Qq-Aaa-Eeee-Zzzzz-Tttttt-Yyyyyyy"
accum("cwAt") -> "C-Ww-Aaa-Tttt"
The parameter of accum is a string which includes only letters from a..z and A..Z.

In [51]:
def accum(s):
    solution = ''
    for i, elem in enumerate (s):
        solution = solution + elem.upper()+((i)*elem).lower()+'-'
    return solution[0:-1]

In [52]:
accum('tomate')

'T-Oo-Mmm-Aaaa-Ttttt-Eeeeee'

In [53]:
# Otra soluci√≥n
def accum1(s):
    return '-'.join(c.upper() + c.lower() * i for i, c in enumerate(s))

In [63]:
# Otra soluci√≥n
def accum2(s):
    return '-'.join((a * i).title() for i, a in enumerate(s,1)) #El 1 significa que la i del enumerate empieze por 1 en lugar del cero

------
Dia 19/08/2020

You are going to be given a word. Your job is to return the middle character of the word. If the word's length is odd, return the middle character. If the word's length is even, return the middle 2 characters.

In [78]:
def get_middle(txt):
   return txt[(len(txt)-1)//2:(len(txt)+2)//2]

['1', '2', '3', '4', '5', '6', '7']
4

In [100]:
#Otra solucion
def get_middle1(s):
    i = (len(s) - 1) // 2
    return s[i:-i] or s # Al ser la posicion central sera el elemento i si empiezo por la izquierda pero tb el elemento -1 si empiezo por la derecha de la cadena. En el caso de cadena de longitud par me dar√° los dos elementos centrales

In [102]:
get_middle1('12345678')

'45'


------
Dia 20/08/2020

In this little assignment you are given a string of space separated numbers, and have to return the highest and lowest number.

Example:

high_and_low("1 2 3 4 5")  # return "5 1"
high_and_low("1 2 -3 4 5") # return "5 -3"
high_and_low("1 9 3 4 -5") # return "9 -5"

All numbers are valid Int32, no need to validate them.
There will always be at least one number in the input string.
Output string must be two numbers separated by a single space, and highest number is first.

In [165]:
def high_and_low(numbers):
    # split string by space character
    numbers = numbers.split(" ")
    # convert string array to int, also making list from them
    numbers = list(map(int, numbers))
    return str(max(numbers)) + " " + str(min(numbers))

In [168]:
high_and_low("1 2 10 -4 5 28")

'28 -4'

In [ ]:
# Otra forma 
def high_and_low1(numbers):
    numbers = [int(x) for x in numbers.split(" ")]
    return str(max(numbers)) + " " + str(min(numbers))

------
Dia 21/08/2020

There is truly no magic in the world; the Hogwarts Sorting Hat is SQL-based, its decision-making powers are common operators and prospectIve students are merely data - names, and two columns of qualities.

students

id
name
quality1
quality2
Slytherin are being quite strict this year and will only take students who are evil AND cunning.
Gryffindor will take students who are brave but only if their second quality is NOT evil.
Ravenclaw accepts students who are studious OR intelligent.
Hufflepuff will simply take those who have the quality hufflepuff.

(don't worry, for simplicity's sake 'brave' and 'studious' will only appear in quality1, and 'cunning' and 'intelligent' will only appear in quality2.)

Return the id, name, quality1 and quality2 of all the students who'll be accepted, ordered by ascending id.

In [ ]:
# Es en SQL
select id, name, quality1, quality2
from students
where ((quality1='evil' and quality2='cunning') or (quality1='brave' and quality2<>'evil') 
or (quality1='studious' or quality2='intelligent') 
or (quality1='hufflepuff' or quality2='hufflepuff'))
group by id, name, quality1, quality2
order by id

In [ ]:
# Otra forma de resolverlo
/* SELECT * FROM students
WHERE quality1 = 'hufflepuff' OR quality2 = 'hufflepuff' 
OR quality1 = 'studious' OR quality2 = 'intelligent'
OR (quality1 = 'evil' AND quality2 = 'cunning')
OR (quality1 = 'brave' AND quality2 != 'evil') */

SELECT * FROM students
WHERE quality1 IN ( 'hufflepuff', 'studious') 
OR quality2 IN ( 'hufflepuff', 'intelligent') 
OR (quality1 = 'evil' AND quality2 = 'cunning')
OR (quality1 = 'brave' AND quality2 != 'evil')

------
Dia 22/08/2020